* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-primary: #131010;
  --clr-secondary: #f5efff;

  --clr-accent-primary: #0a5eb0;

  --clr-txt-secondary: #131010;
  --clr-txt-primary: #f5efff;

  --clr-error: #f72c5b;
}

ul {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

#App {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--clr-primary);
  color: var(--clr-txt-primary);
  padding: 1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1.3fr 1.5fr;
}

.preview {
  border: 1px solid var(--clr-secondary);
  background-color: #fff;
  color: #000;
  height: 80rem;
}

.preview > * {
  padding: 1rem 2rem;
}

.preview_name {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.preview_label {
  font-weight: bold;
}

.preview hr {
  height: 2px;
  background-color: #000;
  border: none;
  margin-top: 2rem;
}

.preview_list {
  padding: 1rem;
  list-style-type: circle;
}

button {
  padding: 0.5em 1em;
  background-color: var(--clr-accent-primary);
  color: var(--clr-txt-primary);
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

input {
  padding: 0.5em 1em;
  border: none;
}
textarea {
  padding: 0.5em 1em;
  height: 5rem;
}

#form {
  display: grid;
  gap: 1rem;
}

.block {
  border: 1px solid var(--clr-secondary);
  border-radius: 1rem;
  padding: 2rem;
  display: grid;

  gap: 1rem;
}

.custom_input {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.item_list {
  display: grid;
  gap: 0.5rem;
}
.item {
  display: flex;
  justify-content: space-between;
}

.remove_button {
  background-color: var(--clr-error);
}
